@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    padding: 0;
    margin: 0;
    height: 80%;
}

.nav {
    background-color: #40808f;
    list-style: none;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
}

.nav > li {
    display: inline;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    font-weight: 50;
}

.nav > li > a:hover {
    color: black;
}

.resume > a > img{
    height: 55vw;
    width: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border: solid #de9e86 3px;
}

#col_1 {
    resize: both;
    overflow: auto;
    float: left;
    width: 40%;
    height: 100%;
    background-color: white;
}

img {
    padding-top: 8%;
    padding-left: 10%;
    width: auto;
    height: 65%;
    float: left;
    resize: auto;
}

.media {
    padding-top: 10px;
    float: below;
    text-align: left;
    font-size: 1.2vw;
}

.media > li {
    display: inline-block;
    padding: 0 25px 0 0px;
}

.media > li > a {
    text-decoration: none;
    color: #66a1af;
    display: block;
    padding-top: 15px;
    text-align: right;
}

#col_2 {
    padding-left: 100px;
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.5vw;
    text-align: left;
    color: #153f4a;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27.5vw, 1fr));
    grid-gap: 1em;
    margin-top: 6%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 4%;
    text-align: center;
}

.location-listing {
    position: relative;
    border-radius: 8px;
    border: .5px solid #008080;
    height: 17vw;
}

.location-image {
    padding-top: 10%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 3vw;
    text-decoration: none;
    color: white;
}

.location-title {
    position: absolute;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 8px;
    
    /* typographic styles */
    font-family: 'Muli', sans-serif;
    font-size: 1vw;
    text-decoration: none;
    color: #003434;
    
    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* hide the title by default */
    opacity: 0;
    transition: opacity .5s;
}

.location-title:hover {
    opacity: 1;
}



