@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: #40808f;
    list-style: none;
    text-align: right;
    padding: 30 100 20 0;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    font-weight: 50;
}

.nav > li > a:hover {
    color: black;
}

#work-cat {
    padding-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.buttons {
    margin: 9%;
    padding: 9px;
    background-color: #b1d2da;
    border: none;
    color: white;
    text-decoration:none;
    border-radius: 16px;
    font-size: 20;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
}

a:hover {
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    
}

.location-listing {
    position: relative;
    border-radius: 8px;
    border: .5px solid #008080;
    height: 225px;
}

.location-image {
    padding-top: 45px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.location-title {
    position: absolute;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 8px;
    
    /* typographic styles */
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    text-decoration: none;
    
    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* hide the title by default */
    opacity: 0;
    transition: opacity .5s;
}

.location-title:hover {
    opacity: 1;
}



