body {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: #40808f;
    list-style: none;
    text-align: right;
    padding: 30 100 20 0;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    font-weight: 50;
}

.nav > li > a:hover {
    color: black;
}

#col_1 {
    resize: both;
    overflow: auto;
    float: left;
    width: 40%;
    height: 100%;
    background-color: white;
}

img {
    padding-top: 100px;
    padding-left: 10%;
    width: auto;
    height: 100%;
    float: left;
}

.media {
    padding-top: 20px;
    float: below;
}
.media > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.media > li > a {
    text-decoration: none;
    color: #3f656f;
    display: block;
    text-align: left;
}

#contact {
    margin-top: 20px;
    text-align: left;
}

#col_2 {
    padding-left: 100px;
    resize: both;
    overflow: auto;
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 0;
    font-size: 1.5vw;
    padding-top: 75px;
    text-align: left;
    color: #153f4a;
}

/*#col_3 {*/
/*    resize: both;*/
/*    overflow: auto;*/
/*    float: left;*/
/*    width: auto;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*}*/

