body {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: #40808f;
    list-style: none;
    text-align: right;
    padding: 30 100 20 0;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    font-weight: 50;
}

.nav > li > a:hover {
    color: black;
}

#col_1 {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: white;
}

#img_div {
    padding: 100 120 100;
    width: 33.33%;
    height: 50%;

}

.media {
    padding-top: 20px;
    float: below;
}
.media > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.media > li > a {
    text-decoration: none;
    color: #3f656f;
    display: block;
}

#contact {
    margin-top: 20px;
    text-align: center;
}

#col_2 {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 0;
    font-size: 22;
    padding-top: 75px;
    text-align: center;
    color: #153f4a;
}

#col_3 {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: white;
}
